.register_form{
   
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.registerbox{
   
    width: fit-content;
    padding: 12px 48px 0 22px;
    background-color: #e4e4e4;
}

.boxnth1{
    height: 32px;
   
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}

.boxnth1 >input{
    border: 0.2px solid #f9b795;
    border-radius: 2px;
}

.checkbox_box{
   
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox_box >div >label{
    color: #555555;
    font-family: monospace;
    FONT-WEIGHT: 600;
}

.editdropbox{
    position: relative;
    display: flex;
    justify-content: center;
}

.drop_list{
    box-shadow: 1px 1px 1px rgb(235, 235, 235);
    position: absolute;
    padding: 0 30px 0 30px;
    background-color: white;
    top: 50px;
   
}

.drop_list > div{
    border: 1px solid rgb(222, 221, 221);
    display: flex;
    gap: 10px;
}
.drop_list >div :nth-child(1){
    margin: 0;
    color: black;
    font-family: emoji;
    font-weight: initial;
}

.drop_list >div :nth-child(2){
    margin: 0;
    color: gray;
    font-family: monospace;
    font-weight: initial;
}
