.desktop_panel{
    width: 100%;
  
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #e1dfdf;
    padding: 10px 0 10px 0;
}


.navbar > button{
    background-color: white;
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 1px;
    display: flex;
    align-items: center;
    color: orangered;
    gap: 5px;
}

.navbar > button >img{
    width: 21px;
}